---
import { Icon } from 'astro-icon/components';

const employeeData = await fetch("https://raw.githubusercontent.com/dare0002/frontend-design/main/resources/json/employees.json").then((res) => res.json());
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro
			<Icon name="sheet" />
		</h1>
		{employeeData.map((employee) => (
			<div>
			<h2>{employee.name}</h2>
			<p>{employee.title}</p>
			</div>

		))}
	</body>
</html>
