---
import EmployeeCard from "./EmployeeCard.astro";

const { data, theme = "light" } = Astro.props;
---

<section>
  {data.map((employee) => <EmployeeCard {employee} />)}
</section>

<style>
  @layer components {
    [data-theme="dark"] {
      --text-section: #fff;
      --text-card: #fff;
    }

    section {
      --bg-section: #fff;
      --bg-card: #fff;
      padding: 2rem;
      color: var(--text-section);
      background: var(--bg-section);

      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

</style>




<!-- MAP = For hver gang den møder et nyt objekt (en ny employee) returnerer den en ny værdi -->