---
import EmployeeCard from "./EmployeeCard.astro";

const { data, theme = "light" } = Astro.props;
---

<section>
  <div>
  <ul>
  {data.map((employee) => <EmployeeCard {employee} />)}
  </ul>
  </div>
</section>

<style>
  @layer components {
    [data-theme="dark"] {
      --text-section: #fff;
      --text-card: #fff;
    }

    div {
      container: div / inline-size;
    }

    ul {
      --bg-section: #fff;
      --bg-card: #fff;
      color: var(--text-section);
      background: var(--bg-section);
      list-style: none;
      padding: 0;

      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      gap: 1.5rem;
    }
  }

</style>




<!-- MAP = For hver gang den møder et nyt objekt (en ny employee) returnerer den en ny værdi -->