---
import EmployeeCard from "./EmployeeCard.astro";

const { data, theme = "light" } = Astro.props;
---

<section>
  {data.map((employee) => <EmployeeCard {employee} />)}
</section>

<style>
  @layer components {
    [data-theme="dark"] {
      --text-section: #fff;
      --text-card: #fff;
    }

    section {
      --bg-section: #fff;
      --text-section: red;
      --bg-card: #fff;
      --text-card: blue;
      padding: 2rem;
      color: var(--text-section);
      background: var(--bg-section);


      display: grid;
      grid-template-columns: repeat(3, 1fr);
      /* padding-left: 22.5rem;
      padding-right: 22.5rem; */
    }


  }
</style>




<!-- LAV grid her -->



<!-- MAP = For hver gang den møder et nyt objekt (en ny employee) returnerer den en ny værdi -->