---

---


<main class="full-bleed">
    <div class="container">
        <div class="content">
            <button class="btn-experience">Experience</button>
            <h4>More than 25 years of experience</h4>
            <p class="content-text">3000+ our clients are insured around the World</p>
        </div>
        <div class="circles">

        </div>
    </div>



</main>


<style>
    @layer components {
    main {
        background: #FBC336;
    }

    .container {
        display: flex;
        padding: 8rem;
        gap: 2rem;
    }

    .btn-experience {
        background: #fff;
        border-radius: 1.25rem;
    }

    .content-text {
        font-size: 1.125rem;
        color: #181818;
    }
}
    
</style>