---


---


<footer>
    <div class="container">
            <h5> AskExperts</h5>
            <hr class="line">
            <p class="copyright">©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
    </div>
</footer>


<style>

    footer {
        background: #181818;
        color: #fff;
        max-width: 120rem;
        margin: 0 auto;
        text-align: center;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        padding: 2.88rem;
        gap: 2rem;

        container-type: inline-size;
    }
    .line {
        border: solid thin;
        container-type: inline-size; 
        width: 100%;
        height: 0.0625rem;
        border-color: #707070;
        max-width: 75rem;
    }

    .copyright {
        font-size: 1rem;
    }

    @container (max-width: 600px) {
        .line{
            width: 90%;
        }

        /* Add font-size here as well */
    }

</style>