---

---



<header>
    <div class="navbar">
        <div class="logo">
        <a href="index.html"> <p class="logo-text">AskExperts</p></a>
    </div>
    <!-- <nav> -->
    <ul class="menu">
            <li>
                <a href="index.html">Home</a>
                <a href="casestudy.html">Case Study</a>
                <a href="team.html">Team</a>
                <a href="about.html">About</a>
            </li>
        
    </ul>
        <a href="#" class="button">Login</a>
         <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <!-- </nav> -->
    </div> 
</header>

<style>


    header {
        background-color: rgba(27, 27, 27, 0.91);
        backdrop-filter: blur (10.5px);
        position: relative;
        padding: 0 2rem;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration:none;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 400;
        font-family: system-ui;
        line-height: 1.6;
    }
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 1rem;
    }
    .navbar .logo a {
        font-size: 1.875rem;
        font-weight: 600;
        line-height: 1.5;
        text-decoration: none;
    }
    .navbar .menu li{
        display: flex;
        gap: 1.88rem;
    }
    .button {
        background: #FFCC4A;
        color: #181818;
        line-height: 1.8rem;
        padding: 0.25rem 1rem;
        border-radius: 1.25rem;
        cursor: pointer;
    }
</style>


<script>

const burger = document.querySelector(".burger");
const nav = document.querySelector("nav");
const menu = document.querySelector(".menu");
const links = document.querySelectorAll(".menu li a");

burger.addEventListener("click", () => {
burger.classList.toggle("active");
nav.classList.toggle("active");
});

links.forEach((link) => {
link.addEventListener("click", () => {
burger.classList.remove("active");
nav.classList.remove("active");
});
});


</script>