---
import { Image } from "astro:assets";

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/*.{jpeg,jpg,png,gif}');
const sarahImage = images['/src/assets/images/sarah-hero.jpg'];

if (!sarahImage) {
  throw new Error(`Image "sarah.jpg" does not exist in glob: "src/assets/images".`);
}
---

<div class="container">
    <div class="header">
        <h1>Adam Buschemia <br> Business Consultant</h1> <br>
        <p>Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
        <button class="meeting-btn">Book a Meeting</button>
    </div>
    <div class="hero-image">
       <Image src={sarahImage()} alt="Sarah Image" class="sarah-hero-image"/>
    </div>
</div>

<div class="boxes">
    <div class="box">
        <h6 class="box-heading">Finance & Restructuring</h6>
        <p>Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
        <button class="box-btn">Our Services</button>
    </div>
    <div class="box">
        <h6 class="box-heading">Our Approach</h6>
        <p>Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
        <button class="box-btn">More About</button>
    </div>
    <div class="box">
        <h6 class="box-heading">Consultalk Result</h6>
        <p>Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
        <button class="box-btn">Explore Our Solution</button>
    </div>
</div>


<style>

@layer components {

    .container{
        display: grid;
        grid-column: full;
        grid-template-columns: 1fr 1fr;
        position: relative;
        padding-bottom: 15rem;
        /* min-height: 100vh;  */

        .header {
            background: var(--black);
            padding: 50px;
            

            h1 {
                color: var(--white);
                margin-left: 21%;
            }

            p {
                color: var(--white);
                margin-left: 21%;
            }

            button {
                background: var(--white);
                color: var(--black);
                border-radius: 2.625rem;
                padding: 1rem 1.9375rem;
                margin-top: 2rem;
                cursor: pointer;
                margin-left: 21%;
            }

            button:hover{
                background-color: oklch(from var(--lightgray) calc(l - 0.1) c h);
                }
            }
        
            .sarah-hero-image {
            max-width: 100%;
            height: auto;
            display: block;
            }
        }
    }

    .boxes {
        display: flex;
        justify-content: space-around;
        gap: 1.25rem;
        position: absolute; 
        top: 30rem;
        left: 50%;
        transform: translateX(-50%); 
        width: 75%; 

        .box {
            border: 1px solid rgba(255, 255, 255, 0.20);
            background: rgba(38, 38, 38, 0.90);
            backdrop-filter: blur(16px);
            border-radius: 1.25rem;
            padding: 2.88rem;

            .box h6, p {
                color: var(--white);
            }

            .box-btn {
                background: var(--black);
                color: var(--white);
                border-radius: 2.625rem;
                padding: 1rem 1.9375rem;
                margin-top: 2rem;
                cursor: pointer;
                
            }

            .box-btn:hover{
                background-color: var(--white);
                color: var(--black);
            }

            .box-heading {
                color: var(--white);
                
            }

            .box h6, p {
                --flow-space: 0px;
            }
        }
    }
}



</style>